
.container {
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
}

.content {
  flex: 1; 
  padding: 16px; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.containers{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-top: 40px; 
}

.containerPin {
  width: 450px; 
  max-height: 69vh; 
  overflow-y: auto; 
  padding-left: 16px; 
  margin-right: 10px;
  margin-top: 20px;
}

.icons {
  width: 20px;
  height: 20px;
  color: rgb(107, 107, 107);
}

.h2 {
  font-size: 24px;
  text-align: start;
  color: rgb(107, 107, 107);
}

.pinnedCardContainer {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.h2Container {
  display: flex;
  align-items: center; 
  margin-right: 70px;
}

.icons {
  margin-left: 8px; 
}


.pinnedCard {
  margin-bottom: 16px; 
}

.containerPin::-webkit-scrollbar {
  width: 10px;
}

.containerPin::-webkit-scrollbar-thumb {
  background-color: #260e69;
  border-radius: 10px;
  border: 2px solid #260e69;
}

.containerPin::-webkit-scrollbar-thumb:hover {
  background-color: #6c30cc;
}
