.card {
    width: 80%; 
    height: 75vh; 
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 5px; 
    overflow-y: auto;
  }
  
  .form {
    display: flex; 
    flex-direction: column; 
  }
  
  .textField {
    margin-bottom: 16px; 
  }
  
  .iconCamera {
    color: #260e69; 
    background-color: white; 
  }

  .containerButton{
    display: flex; 
    justify-content: left;
    gap: 10px;
    width: 175px;
  }

  .containerButton:hover{
    cursor: pointer;
    background-color: white;
  }

  .p{
    color: #260e69;
    font-size: 18px;
  }

  .iconSearch{
    color: white; 
    background-color: #260e69;
  }
  
  .previewImage {
    margin-top: 16px;
    max-width: 100%; 
    height: auto; 
  }

  .card::-webkit-scrollbar {
    width: 10px;
  }
  
  .card::-webkit-scrollbar-thumb {
    background-color: #260e69;
    border-radius: 10px;
    border: 2px solid #260e69;
  }
  
  .card::-webkit-scrollbar-thumb:hover {
    background-color: #6c30cc;
  }
  