.aside{
    width: 40vh;
    height: 89vh;
    background-color: #260e69;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.a{
    text-decoration: none;
}
.aside_nav{
    border-bottom: 1px solid white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:hover{
        background: linear-gradient(to right, #9340ff, #6400c8);
    }
}
.aside_nav_h2{
    width: 50%;
    color: white;
    font-size: 16px;
    font-weight: unset;
}
.icons {
    transition: transform 0.7s;
    color: white;
    width: 32px;
    height: 32px;
}

.active {
    background-color: #390073; 
    background: linear-gradient(to right, #9340ff, #390073);
  }
  