.container {
    display: flex;
    height: 89vh;
    width: 100%;
}

.tableContainer {
    width: 100%;
    height: 80vh;
    margin: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.thead {
    background-color: #f4f4f4;
    text-align: left;
}

.th, .td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tbody tr:hover {
    background-color: #f1f1f1;
}

.th {
    font-weight: bold;
}

.action-icons {
    display: flex;
    justify-content: center;
}

.action-icons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    font-size: 16px;
    color: #333;
}

.action-icons button:hover {
    color: #007BFF;
}

.createAdmin {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: #9340ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #7833c2;
    }
}


.fileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fileUpload input[type="file"] {
    display: none; /* Ocultar el input de archivo */
}

.fileUpload label {
    background-color: #9340ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.fileUpload label:hover {
    background-color: #7833c2;
}

.uploadButton {
    background-color: #9340ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.uploadButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.uploadButton:hover:not(:disabled) {
    background-color: #7833c2;
}
