.LoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 500px;
}

.RegisterContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

}